body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(223, 223, 223);
}

.main-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.title {
    margin-top: 0;
    color: goldenrod;
    text-shadow: 2px 5px 4px gray;
    font-size: 62px;
}



#screen {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    justify-content: center;
    margin: auto;
    width: 1000px;
    height: 700px;
}

.grid {
    background-color: white;
}



.buttons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

#color-btn {
    display: inline-block;
    background-color: goldenrod;
    color: white;
    width: 36px;
    height: 36px;
    border: none;
    font-size: 1.3em;
    border-radius: 3px;
    box-shadow: 2px 4px 6px 3px gray;
    cursor: pointer;
}


button{
    display: inline-block;
    background-color: goldenrod;
    width: 120px;
    height: 35px;
    border: none;
    font-size: 1em;
    border-radius: 3px;
    box-shadow: 2px 4px 6px 3px gray;
    cursor: pointer;
}

.resize-container {
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.color-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.3em;
}

input {
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}

.error {
    color: red;
    border-color: red;
}
